body {
    background: url(assets/bg.png) no-repeat;
    background-size: 100vw;
    
}

.logo {
    width: 40px;
}

.educaSomar {
    font-family: 'Baloo Bhai 2', cursive;
    margin-left: 5px;
}

.navbar-item img {
    max-height: unset;
}