#eventData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 5rem;
}

.eventDataElements {
  position: relative;
  background-color: rgba(24, 147, 208, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.2rem;
  font-size: 1.5rem;
  font-family: 'Baloo Bhai 2', cursive;
  font-weight: bold;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;
}

.eventDataElementShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4),
              3px 0 10px -2px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.eventDataElements span {
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: rgb(160, 202, 57);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 15%);
  transition: 1s;
  transition-delay: calc((var(--n) - 1) * 0.05s);
  z-index: -1;
}

.eventDataElements:hover span {
  transform: translateY(0) scale(2);
}

.eventDataElements span:nth-child(2) {
  --n: 1;
}

.eventDataElements span:nth-child(3) {
  --n: 2;
}

.eventDataElements span:nth-child(4) {
  --n: 3;
}

.eventDataElements span:nth-child(5) {
  --n: 4;
}

.eventDataElements span:nth-child(6) {
  --n: 5;
}

.eventDataElements span:nth-child(7) {
  --n: 6;
}

.eventDataElements span:nth-child(8) {
  --n: 7;
}

.eventDataElements span:nth-child(9) {
  --n: 8;
}