/* GENERAL RULES */
:root {
    --navbarHeight: 64px;
    --videoWidth: calc(80vh * 16/9);
    --videoAspectRatio: calc(9/16);
    --borderRadiudDefault: 1.5vmin;
}

body {
    position: relative;
    z-index: -2;
}

.is-transparent{
    background-color: transparent;
    background-image: none;
    transition: all .5 ease;
}

.navbar-item img {
    max-height: unset;
}

div.is-active {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}

.divButton {
    padding: 4px;
}

.divButton .button {
    border-radius: 10px;
}

.hero-body {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#form {
    background-color: #ffffff00;
    display: grid;
    gap: 2%;
    grid-template-areas:
                        "name name email email"
                        ". send send .";
    width: 1100px;
    box-shadow: none;
}

    @media (max-width: 1407px) {
        #form {
            width: 1000px;
        }
    }

    @media (max-width: 1023px) {
        #form {
            width: 800px;
        }
        #navbarBg {
            height: 54px;
        }
    }

    @media (max-width: 815px) {
        #form {
            grid-template-areas:
                        "name name"
                        "email email"
                        "send send";
            width: 95vw;
        }
    }

/* #form .input, #form button{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
} */

/* CONDITIONAL RULES */

.isHidden {
    opacity: 0;
    transition: all .5 ease;
}

/* #formButton {
    grid-area: send;
} */


/* ------------------ START ANIMATION IN BUTTON ------------------  */

/* start button */
/* .is-animation {
  height: 50px;
  width: 250px;
  background: #21cd98;
  background-size: 360% 100%;
  overflow: hidden;
} */
/* end button */

/* start button label */
/* .is-animation:after {
  content: attr(data-name);
  content: normal;
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
} */
/* end button label */

/* start animation button */
/* .is-animation:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  height: 200%;
  width: 200%;
  background: #ffdc7d;
  z-index: 0;
  transition: all 0.3s linear;
} */
/* .is-animation:hover:before,
.is-animation:focus-visible:before {
  left: 100%;
}
.is-animation:hover:after {
  color: white;
}
.is-animation:hover {
  -webkit-box-shadow: 0px 4px 10px -6px black;
  box-shadow: 0px 4px 10px -6px black;
} */
/* end animation button */

/* .is-animation:focus-visible {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 5px #480f5d;
  box-shadow: 0px 0px 0px 5px #480f5d;
} */
/* ------------------ END ANIMATION IN BUTTON ------------------  */

.is-animation {
  background-color: #ffdc7d;
  height: 50px;
  width: 255px;
  transition: all 0.3s linear;
  overflow: hidden;
}

.is-animation:after {
  content: attr(data-name);
  top: 50%;
  position: absolute;
  left: 54%;
  -webkit-transform: translate(-50%, -50%);
  font-weight: bolder;
}

.is-animation:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0px;
  height: 200%;
  width: 200%;
  background: #ffdc7d;
  z-index: 0;
  transition: all 0.3s linear;
}

.is-animation:hover {
  background-color: #21cd98;
  color: white;
}

.is-animation:hover:before,
.is-animation:focus-visible:before {
  left: 100%;
}
