/* MAIN BANNER */

.mainBanner{
  position: relative;
  width: 100vw;
  height: auto;
  background-image: url(../assets/bg.png);
  background-position: center;
  background-repeat:  no-repeat;
  background-attachment: local;
  background-size: cover;
  z-index: -1;
}

.mainBanner::after{
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 145, 205, 0.7);
}

.hero-body-banner {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: var(--navbarHeight);
  max-height: 100vh;
}

/* FORM */

#form {
  background-color: #ffffff00;
  display: grid;
  row-gap: 10%;
  column-gap: 1%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
                      "name name name email email email"
                      ". send send video video .";
  width: calc(1.2 * 100vh);
  box-shadow: none;
}

#form .input, #form .button{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--borderRadiusDefault);
}

#form .button {
  position: relative;
  background-color: rgb(255, 220, 125);
  z-index: 1;
  overflow: hidden;
}

.buttonEffect{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-120%, 0);
  opacity: 0;
  background-color: rgb(33, 205, 152);
  z-index: -1;
  transition: all 0.5s linear;
}

#form .button:hover .buttonEffect {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.5s linear;
}

#form .input::placeholder {
  font-size: 1.4rem;
}

#form .field {
  margin: 0;
}

#formName {
  grid-area: name;
}

#formEmail {
  grid-area: email;
}

#formButton {
  grid-area: send;
}

#videoButton {
  grid-area: video;
  background-color: rgb(255, 220, 125);
}

