svg#projectLogoBanner {
  width: 1200px;
}

svg #brain1 {
  fill: rgb(24, 147, 208);
}

svg #brain2 {
  fill: rgb(245, 205, 17);
}

svg #brain3 {
  fill: rgb(160, 202, 57);
}

svg #brain4 {
  fill: rgb(236, 14, 137);
}