/* VIDEO */

.videoContainer {
  margin: auto;
  position: relative;
  height: 15vh;
  transition: all .5s ease;
}

.videoContainerSize {
  box-sizing: border-box;
  width: var(--videoWidth);
  height: 0;
  padding-bottom: calc(var(--videoAspectRatio) * var(--videoWidth));
  transition: all .5s ease;
}

.videoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: var(--borderRadiudDefault);
  transition: all 1s ease;
}

.videoContainer iframe {
  position: absolute;
  border-radius: var(--borderRadiudDefault);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}